@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #18dc0c;
  --secondary: #222222;
  --background: #002b00;
}

@layer utilities {
  .pipboy-screen {
    /*background-image: radial-gradient(#313630, #111);*/
    /*background: #001c00;*/
    background: var(--background);
    /*@apply animate-color-pulse;*/
  }

  .pipboy-screen::before {
    content: "";
    height: 20vh;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    z-index: 1;
    @apply animate-wave;
    pointer-events: none;
  }


  /*.pipboy-screen::after {*/
  /*  background-image: linear-gradient(transparent, transparent 3px, #222);*/
  /*  background-size: 4px 4px;*/
  /*  opacity: .4;*/
  /*  left: 0;*/
  /*  top: 0;*/
  /*  bottom: 0;*/
  /*  right: 0;*/
  /*  content: "";*/
  /*  pointer-events: none;*/
  /*  position: absolute;*/
  /*  z-index: 2;*/
  /*}*/

  .pipboy-screen-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -5px 40px 10px #000 inset;
    pointer-events: none;
  }

  .pipboy-nav::before {
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    content: '';
    width: 2px;
    height: 12px;
    background: linear-gradient(rgba(51, 255, 0, .8), transparent);
  }

  .pipboy-nav::after {
    position: absolute;
    left: auto;
    right: 0;
    bottom: -12px;
    display: block;
    content: '';
    width: 2px;
    height: 12px;
    background: linear-gradient(rgba(51, 255, 0, .8), transparent);
  }

  .pipboy-nav-menu-item::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15px;
    top: 11px;
    border-color: #18dc0c;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
  }

  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: 0;
  }

  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
  }

  .special-filter {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
  }
}

/*@screen lg {*/
/*  .pipboy-screen-shadow {*/
/*    box-shadow: 0 -30px 68px 20px #000 inset;*/
/*  }*/
/*}*/
